/backend/Thumbs.db
/backend/.DS_Store
/backend/.gradle
/backend/build/
/backend/target/
/backend/out/
/backend/.idea
/backend/*.iml
/backend/*.ipr
/backend/*.iws
/backend/.project
/backend/.settings
/backend/.classpath
/backend/.factorypath
/backend/.env
/frontend/node_modules/
/.gradle/
/.idea/
/.pnpm-store/
